{% liquid
  assign top = block.settings.topText
  assign bottomText = block.settings.bottomText
  assign buttonText = block.settings.buttonText
  assign url = block.settings.url
%}
<div class="btn_content">
  {% if top != blank %}
   <p>{{ top }}</p>
  {% endif %}
  {% if bottomText != blank %}
   <a class="btn " href="{{ url}}">{{ buttonText }}</a>
  {% endif %}
  
 {% if bottomText != blank %}
   <div class="bottomtext">
    <img src="{{ 'icon.png' | asset_url }}" width="15" height="15"  alt="Icon">
    <p>{{ bottomText }}</p>
  </div>
  {% endif %}
  
</div>
<style>
  .bottomtext{
    display:flex;
    align-items: center;
  }
  .btn_content{
    width: 100%;
    height: 70px;
  }
  .btn{
    text-decoration:none;
    color:#fff;
    background-color:#d70000;
    border-radius: 8px;
    font-size: 26px;
    font-weight: 700;
    
  }
</style>
{% schema %}
  {
    "name": "Button",
    "settings": [
      {
        "type": "richtext",
        "label": "Top Text",
        "id": "topText"
      },
      {
        "type": "text",
        "label": "Bottom Text",
        "id": "bottomText"
      },
      {
        "type": "text",
        "label": "Button",
        "id": "buttonText"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Add URL"
      }
      
      
    ],
    "presets": [
      {
        "name": "Button"
      }
    ]
  }
{% endschema %}