{% liquid
  assign description = block.settings.description
  assign textColor = block.settings.textColor
  assign descriptionWidth = block.settings.descriptionWidth
  assign fontSize = block.settings.fontSize
%}

<p class="description">{{ description }}</p>

<style>

  #shopify-block-{{ block.id }}{
    max-width:100%;
    width:{{descriptionWidth}}%;
  }
  .description{
    color:{{textColor}};
    font-size: {{fontSize}}px;
  }
</style>
{% schema %}
  {
    "name": "Description",
    "settings": [
    
      {
        "type": "richtext",
        "label": "Description",
        "id": "description",
        "default":"<p>Description<p>"
      },
      {
        "type": "range",
        "label": "Font Size",
        "id": "fontSize",
        "unit": "px",
        "step": 1,
        "min": 0,
        "max": 100,
        "default":16
        
      },
      {
        "type": "color",
        "label": "Color",
        "id": "textColor",
        
      },
      {
        "type": "range",
        "id": "descriptionWidth",
        "label": "Width",
        "unit": "%",
        "min": 0,
        "max": 100,
        "step": 1,
        "default":100
      }
    ],
    "presets": [
      {
        "name": "Description"
      }
    ]
  }
{% endschema %}