{% liquid
  assign flex = block.settings.flex
  assign img = block.settings.img
  assign advantages = block.settings.advantages
  
%}

{% if flex == true %}
  
  {% assign display-flex = "flex" %}
  
{% endif %}

<div class="product-advantages {{ block.id }}">
  <div class="advantages-content">
   {% if img != blank %}
     <img src="{{ img | img_url:"12200x" }}"  />
    {% endif %}
    <h3 class="poppins-semibold">{{ advantages }}</h3>
  </div>
  <div class="advantages-content">
   {% if img != blank %}
     <img src="{{ img | img_url:"12200x" }}"  />
    {% endif %}
    <h3 class="poppins-semibold">{{ advantages }}</h3>
  </div>
  <div class="advantages-content">
   {% if img != blank %}
     <img src="{{ img | img_url:"12200x" }}"  />
    {% endif %}
    <h3 class="poppins-semibold">{{ advantages }}</h3>
  </div>
</div>

<style>
 .product-advantages{
    display:{{display-flex}}
  }
  .advantages-content img{
    width: 44px;
  }
  .advantages-content h3{
    font-size: 14px;
  }
  .product-advantages:last-child{
    border: none !important;
  }
</style>
{% schema %}
  {
    "name": "Product Advantages",
    "settings": [
      {
        "type": "checkbox",
        "id": "flex",
        "label": "Display Flex",
        "default":false
      },
      {
        "type": "image_picker",
        "label": "Image",
        "id": "img"
      },
      {
        "type": "text",
        "label": "Text",
        "id": "advantages"
      }
    ],
    "presets": [
      {
        "name": "Product Advantages"
      }
    ]
  }
{% endschema %}