{% liquid
  assign redTitle = block.settings.redTitle
  assign title = block.settings.title
  assign textColor = block.settings.textColor
%}

<h2 class="title"> <span class="red">{{ redTitle }}</span> {{ title }}</h2>
{{ block.id }}
<style>
 #shopify-block-{{ block.id }} .red{
    color:{{textColor}};
  }
</style>
{% schema %}
  {
    "name": "Block name",
    "settings": [
      {
        "type": "text",
        "label": "Title",
        "id": "redTitle"
      },
      {
        "type": "text",
        "label": "Title",
        "id": "title"
      },
      {
        "type": "color",
        "label": "Color",
        "id": "textColor",
        
      }
    ],
    "presets": [
      {
        "name": "Title"
      }
    ]
  }
{% endschema %}