{{ "custom-header.css" | asset_url | stylesheet_tag }}
{% liquid
  assign menus = section.settings.menu.links
%}
<div class="headerSection">
  <div class="container">
    <div class="logo">
      {% for menu in menus %}
        
        
      {% endfor %}
    </div>

    
    <nav>
      <ul class="menuPart">
        {% for menu in menus %}
          
          
          {% if menu.links != blank %}
            <li>
              <div class="menuItem dropdown poppins-regular">
                <span class="poppins-regular">{{ menu.title }}  {{- 'icon-caret.svg' | inline_asset_content -}} </span>
                <ul class="dropdown">
                  {% for child in menu.links %}
                    <li>
                      <a 
                        class="childItem poppins-regular {% if child.active %} active {% endif %} poppins-regular" 
                        href="{{ child.url }}">
                        {{ child.title }}
                      </a>
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </li>
            
          {% else %}
          <li>
            <a 
              class="menuItem {% if menu.active %} active {% endif %} poppins-regular" 
              href="{{ menu.url }}">{{ menu.title }}
            </a>
          </li>
          {% endif %}
        {% endfor %}
       
      </ul>
    </nav>
    <div class="cart"></div>
  </div>
</div>
{% schema %}
  {
    "name": "Custom Header",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu"
      }
    ]
  }
{% endschema %}
<style>
  

</style>