{% liquid
 assign padding = section.settings.padding
 assign section_width = section.settings.section_width

  assign media = section.settings.media
  assign badge = section.settings.badge
  assign rating = section.settings.rating
  assign ratingCount = section.settings.ratingCount
  assign textstyle = section.settings.textstyle

%}



<div class="banner_section {{ section.id }}">
  <div class="banner_content">
    <div class="rating_container poppins-regular">
     {% if rating != blank %}

        <img src="{{ rating | img_url:"1200x" }}" >
       
     {% endif %}
      <h3 class="subtitle poppins-regular">{{ ratingCount }}</h3>
    </div>
      {% content_for 'blocks' %}
  </div>
  <div class="banner_img">
    <img src="{{ media | img_url: width:540 , height: 680}}">
    {% if badge != blank %}
      <img src="{{ badge | img_url}}">
    {% endif %}
  </div>
</div>

<style>
  .{{ section.id }}{
    padding:{{padding}};
    max-width:{{section_width}};
    margin: 0 auto;
  }
  
  .subtitle{
    margin:0;
  }
  .subtitle p{
    font-family:{{textstyle}};
    margin:0;
    color:black;
  }

</style>

{% schema %}
  {
    "name": "Section name",
    "blocks": [
      {
        "type": "@theme"
      }
    ],
    "settings": [
      {
        "type": "image_picker",
        "id": "media",
        "label": "Media"
       
      },
      {
        "type": "image_picker",
        "id": "badge",
        "label": "badge"
       
      },
       {
        "type": "text",
        "id": "padding",
        "label": "Section Padding",
        "default": "10px 10px"
      },
       {
        "type": "select",
        "options": [
          {
            "label": "Select Width",
            "value": ""
          },
          {
            "label": "Container",
            "value": "1400px"
          },
          {
            "label": "Page Width",
            "value": "1200px"
          },
          {
            "label": "Narrow",
            "value": "900px"
          }
        ],
        "default":"",
        "id": "section_width",
        "label": "Section Width"
      },
      {
        "type": "image_picker",
        "id": "rating",
        "label": "Rating"
      },
      {
        "type": "richtext",
        "id": "ratingCount",
        "label": "Sub Title"
      },
      {
        "type": "font_picker",
        "id": "textstyle",
        "label": "Font Family",
        "default": "poppins_n4"
      }

    ],
    "presets": [
      {
        "name": "Banner"
      }
    ]
  }
{% endschema %}