{% liquid
  assign offer = section.settings.offer
  assign  url = section.settings.url
  assign newtab = section.settings.newtab
  assign padding = section.settings.padding
  assign section_width = section.settings.section_width
  assign bg_color = section.settings.bg_color
%}

<div class="{{ section.id }} offer_section">
 
 {% if url != blank %} <a href="{{ url }}" {% if newtab == true %}target="_blank"{% endif %} >{% endif %}
   
    {% if offer != blank %}
      
       <img src="{{ offer | img_url:"1200x" }}" />
      
    {% endif %}
   
  {% if url != blank %}</a>{% endif %}
</div>

<style>
  #shopify-section-{{section.id}}{
    background-color:{{bg_color}}
  }
  .{{section.id}}{
    padding: {{padding}};
    max-width:{{section_width}};
    margin: 0 auto;
  }
  .{{section.id}} img {
    width:100%;
  }
</style>

{% schema %}
  
  {
    "name": "Section name",
     "presets": [
      {
        "name": "Offer"
      }
    ],
    "settings": [
      {
        "type": "image_picker",
        "id": "offer",
        "label": "Add Media"
      },
      {
        "type": "url",
        "id": "url",
        "label": "Add URL"
      },
      {
        "type": "checkbox",
        "id": "newtab",
        "label": "Open New Tab",
        "default":false
      },
      {
        "type": "header",
        "content": "Section Style"
      },
      {
        "type": "text",
        "id": "padding",
        "label": "Section Padding",
        "default": "10px 10px"
      },
      {
        "type": "select",
        "options": [
          {
            "label": "Select Width",
            "value": ""
          },
          {
            "label": "Container",
            "value": "1300px"
          },
          {
            "label": "Page Width",
            "value": "1200px"
          },
          {
            "label": "Narrow",
            "value": "900px"
          }
        ],
        "default":"",
        "id": "section_width",
        "label": "Section Width"
      },
      {
        "type": "color",
        "id": "bg_color",
        "label": "Background Color"
      }
    ]
   
  }
{% endschema %}